body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
    line-height:1.2em;
    text-decoration:none;
    font-style:normal;
    background-color:whitesmoke;
}
.info{
    float: right;
    display: flex;
  background-color: rgb(172, 105, 220); 
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items:center;   

  margin: 20px;
  padding: 20px;
  font-size: 15px;
  border:3px solid rgb(114, 221, 108);
}

.info div {
  background-color: #f1f1f1;
  margin-right: 20px;
  padding: 20px;
  font-size: 20px;
  border:3px solid rgb(227, 153, 50);
}

.name{
    text-align: center;
    margin-bottom: 0;
}
.contact{
    margin: 0;
    flex-grow:0.2;
}

@media (max-width: 600px){
    .info{
        width: 80%;
        margin: auto;
        flex-direction: column;

        }

    
}

.title{
    margin-bottom: 0;
}

.face{
    margin-bottom: 0;
    margin-top: 0;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

tr:nth-child(even) {background-color: #b3b3b3;}

th, td {
    padding: 8px;
  }
a:hover {
    color: red; /* Change the text color to red */
    text-decoration: underline; /* Underline the link */
  }


#available{
    text-align: center;   /* used to align the ticks in center*/
    border: 3;
    width: 50%;
}

.edu{
    margin: 0;
}